Alias /openstack-liberty /packages/openstack-liberty
<Directory /packages/openstack-liberty>
Options Indexes MultiViews FollowSymLinks
    Order allow,deny
    Allow from all
    AllowOverride None
    Require all granted
</Directory>
